# {{ ansible_managed }}
version: "3.7"

networks:
  {{ traefik__network }}:
    external: true
    
services:
  traefik:
    command:
      - "--accesslog=true"
      - "--accesslog.filePath=/var/log/traefik/access.log"
      - "--accesslog.format={{ traefik__access_log_format }}"
      - "--api.dashboard={{ traefik__dashboard }}"
      - "--certificatesresolvers.le.acme.caserver={{ traefik__acme_caserver }}"
      - "--certificatesresolvers.le.acme.email={{ traefik__acme_email }}"
      - "--certificatesresolvers.le.acme.preferredchain=ISRG Root X1"
      - "--certificatesresolvers.le.acme.storage=/etc/traefik/acme.json"
      - "--certificatesresolvers.le.acme.tlschallenge=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.websecure.address=:443"
      - "--log.filePath=/var/log/traefik/traefik.log"
      - "--log.format={{ traefik__log_format }}"
      - "--log.level={{ traefik__log_level }}"
      - "--providers.swarm.endpoint=unix:///var/run/docker.sock"
      - "--providers.swarm.exposedByDefault={{ traefik__expose_by_default }}"
      - "--providers.swarm.network={{ traefik__network }}"
      - "--providers.swarm.refreshSeconds={{ traefik__refresh }}"
    deploy:
      labels:
        - "traefik.docker.network={{ traefik__network }}"
        - "traefik.enable=true"
        - "traefik.http.middlewares.auth.basicauth.users={{ traefik__dashboard_basicauth_passwords | join(',') }}"
        - "traefik.http.middlewares.https-redirect.redirectscheme.scheme=https"
        - "traefik.http.middlewares.https-redirect.redirectscheme.permanent=true"
        - "traefik.http.routers.traefik-http.entrypoints=web"
        - "traefik.http.routers.traefik-http.middlewares=https-redirect"
        - "traefik.http.routers.traefik-http.rule=Host(`{{ traefik__domain }}`)"
        - "traefik.http.routers.traefik-https.entrypoints=websecure"
        - "traefik.http.routers.traefik-https.middlewares=auth"
        - "traefik.http.routers.traefik-https.rule=Host(`{{ traefik__domain }}`)"
        - "traefik.http.routers.traefik-https.service=api@internal"
        - "traefik.http.routers.traefik-https.tls=true"
        - "traefik.http.routers.traefik-https.tls.certresolver=le"
        - "traefik.http.routers.traefik-https.tls.domains[0].main={{ traefik__domain }}"
        - "traefik.http.services.traefik.loadbalancer.server.port=8080"
      placement:
        constraints:
          - "node.labels.{{ traefik__label }} == true"
          - node.role == manager
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
{% if traefik__dns is defined %}
    dns:
{% for host in traefik__dns %}
      - {{ host }}
{% endfor %}
{% endif %}
    image: "{{ traefik__image }}"
    networks:
      - "{{ traefik__network }}"
    ports:
      - target: 80
        published: 80
        mode: ingress
      - target: 443
        published: 443
        mode: ingress
    volumes:
      - "{{ traefik__acme_dir }}:/etc/traefik"
      - "{{ traefik__log_dir }}:/var/log/traefik"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
